* {
  list-style: none;
  gap: 20px;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 700px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background: #3b82f6;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.about,
.services,
.testimonials {
  padding: 80px 50px;
  text-align: center;
}

.service-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  width: 250px;
}

.testimonial-box {
  margin-top: 20px;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.footer {
  background: #111827;
  text-align: center;
  padding: 20px;
}